--extra-index-url https://download.pytorch.org/whl/cpu
torch
yfinance>=0.2.37
yahooquery
pandas-datareader
plotly
pandas
numpy
xgboost
scikit-learn
requests
optuna
matplotlib
alpaca-py
streamlit
pandas<3.0.0
urllib3>=2.0.0
requests>=2.31.0

